* {
    border: none;
    box-sizing: border-box;
    font-family: "Open-Sans", sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --red: #f2191a;    
}

html {
    background-color: var(--red);
    width: 100vw;
}

a {
    text-decoration: none;
}

body {
    background-color: #FFF;
    width: 100%;
}

.nav {
    align-items: center;
    background-color: white;
    border-bottom: 1px solid var(--red);
    display: flex;
    justify-content: space-between;
    /* margin: 0 0 50px 0; */
    /* padding: 25px; */
}

.nav__link {
    border-radius: 6px;
    color: var(--red);
    font-family: 'Lobster', serif;
    font-size: 1.2rem;
    margin: 0 20px;
    padding: 20px;
    transition: all .1s ease-in;
}

.nav__link:hover {
    background-color: var(--red);
    color: white;
    transition: all .1s ease-in;
}

.nav__item {
    color: var(--red);
    text-decoration: none;
    list-style-type: none;
}

.nav__list {
    display: flex;
}

.nav__logo {
    height: 100px;
    margin: 0 0 0 50px;
    width: auto;
}

.menu-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px 100px 20px;
}

.menu-container__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-item {
    box-shadow: 0px 0px 6px -5px black;
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 400px;
    padding: 20px;
    width: 40%;
}

.menu-item__top {
    display: flex;
    justify-content: space-between;
}

.menu-item h1 {
    color: var(--red);
    font-family: Lobster, serif;
    font-size: 1.6rem;
}

.menu-item button, .button {
    background-color: var(--red);
    color: white;
    font-size: 14px;
    margin: auto 0 0 0;
    max-width: 100px;
    outline: none;
    padding: 10px;
    transition: all .2s ease-in;
}

.menu-item button:hover, .button:hover {
    cursor: pointer;
}

.menu-item button:active, .button:active {
    background-color: darkred;
}

.menu-item__description {
    font-weight: lighter;
    line-height: 1.5;
    margin: 8px 0 30px 0;
}

.menu-item__img {
    border-radius: 6px;
    height: auto;
    margin: 20px 0;
    max-height: 170px;
    object-fit: cover;
    width: 100%;
}

.cart-bar-container {
    align-items: center;
    background-color: var(--red);
    bottom: 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.cart-container__cart-items-container {
    align-items: flex-start;
    display: flex;
    min-height: 80vh;
}

.cart-bar__arrow {
    fill: white;
    height: 20px;
    transform: rotate(90deg);
    width: 20px;
}

.cart-bar__link {
    color: white;
}

.cart-bar__link-container {
    align-items: center;
    display: flex;
}

.cart-container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}

.cart-container__header {
    border-bottom: 1px solid black;
    color: var(--red);
    font-family: Lobster, serif;
    font-size: 2.5rem;
    margin: 0 15px 15px 15px;
    max-width: 90%;
    padding: 10px;
}

.cart-container__subheader {
    font-family: 'Open-Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 15px;
}

.cart-item {
    box-shadow: 0px 0px 6px -5px black;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 30px;
}

.cart-item__title {
    color: var(--red);
    display: inline-block;
    font-family: Lobster, serif;
    margin: 0 50px 0 0;
}

.cart-item__top {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.cart-item__delete {
    border: 1px solid red;
    color: red;
    padding: 10px;
}

.cart-item__img {
    border-radius: 6px;
    height: 100px;
    margin: 0 50px 0 0;
    object-fit: cover;
    object-position: center;
    width: 120px;
}

.cart-calc {
    border: 2px solid #e6e6e6;
    border-radius: 6px;
    /* box-shadow: 0px -5px 7px -10px black; */
    margin: 10px 25px 25px 25px;
    max-width: 600px;
    padding: 15px;
    width: 25%;
}

.cart-calc h3 {
    margin: 8px;
}

.cart-calc__calc {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.cart-calc__value {
    color: var(--red);
}

.cart-calc__total {
    font-size: 1.5rem;
}

.cart-items__wrapper {
    width: 80%;
}

.arrow {
    cursor: pointer;
    fill: var(--red);
    height: 15px;
    transform: all .2s ease-in; 
    width: 15px;
}

.arrow:hover {
    fill: darkred;
    transform: all .2s ease-in; 
}

.arrow--down {
    transform: rotate(180deg);
}

.cart-item__arrows {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 8px;
}

.cart-item__counter {
    display: flex;
    align-items: center;
}

.placeholder {
    display: flex;
    color: var(--red);
    flex-direction: column;
    justify-content: center;
    max-height: 700px;
    text-align: center;
    width: 100%;
}

.placeholder__graphic {
    height: 250px;
    margin: 0 auto;
}

.placeholder h1 {
    font-size: 1.5rem;
    margin: 10px auto;
    max-width: 500px;
}

.admin__item{
    align-items: center;
    border: 1px solid var(--red);
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 40px 20px;
}

.button--admin {
    display: block;
    font-size: 1.5rem;
    margin: 10px auto 20px auto;
    max-width: none;
    min-width: initial;
    padding: 20px;
}

.admin__input {
    border-bottom: 1px solid var(--red);
    font-size: 1rem;
    margin: 20px 0 0 0;
    padding: 10px;
    text-align: center;
}

.admin__item textarea {
    font-size: 1rem;
    height: 100px;
    padding: 10px;
    width: 300px;
}

.admin__header {
    color: gray;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: lighter;
    margin: 0 0 50px 0;
    text-align: center;
}

.admin__container {
    padding: 0 0 100px 0;
}

.admin__sold {
    margin: 10px;
}

.admin__input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 125px;
    text-align: center;
}

.admin__item-label {
    color: black;
    font-style: italic;
    margin: auto 0 0 0;
}

.admin p {
    color: var(--red);
    margin: 0 0 auto 0;
}

.admin__button {
    margin: 0;
}

@media screen and (max-width: 800px) {
    .nav {
        flex-direction: column;
        /* margin: 0 0 20px 0; */
        padding: 15px 0;
    }

    .nav__list {
        margin: 30px 0 0 0;
    }

    .nav__logo {
        margin: 0 auto;
    }

    .cart-container__cart-items-container {
        flex-direction: column;
    }

    .cart-items__wrapper {
        width: 100%;
    }

    .cart-item {
        flex-direction: column;
    }

    .cart-item__top {
        flex-direction: column;
        width: 100%;
    }

    .cart-item__title {
        margin: 10px 0;
        order: -1;
    }

    .cart-item__img {
        margin: 10px 0;
        width: 100%;
    }

    .cart-item__item-price {
        text-align: center;
    }

    .cart-item__counter {
        justify-content: center;
        margin: 15px;
    }

    .cart-calc {
        margin: 0;
        width: 100%;
    }

    .cart-bar {
        justify-content: space-between;
    }

    .cart-bar h2 {
        font-size: 1.2rem;
    }

    .admin__container { 
        padding: 0px;
    }

    .admin__item {
        flex-direction: column;
    }

    .admin__item-label {
        margin: 5px 0 0px 0;
    }

    .menu-item {
        min-width: fit-content;
        width: 100%;
    }

    .cart-bar__link-container {
        margin-right: 15px;
    }
}